<!DOCTYPE html>
<html>
<head>
    <title>Students List</title>
</head>
<body>

<h1>Registered Students</h1>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Course</th>
    <th>Address</th>
    <th>Contact</th>
</tr>

{% for s in students %}
<tr>
    <td>{{ s[0] }}</td>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
    <td>{{ s[3] }}</td>
    <td>{{ s[4] }}</td>
    <td>{{ s[5] }}</td>
    <td>{{ s[6] }}</td>
</tr>
{% endfor %}

</table>

<br>
<a href="/">Back to Registration</a>

</body>
</html>